body {
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/5908/food.png);
  }

#title { 
    font-family: 'Enriqueta', arial, serif;
    line-height: 1.25;
    margin: 0 0 10px; 
    font-size: 40px; 
    font-weight: bold; 
    color: #040403;
    text-align: center;
    padding-top: 120px;
    padding-bottom: 10px;
    }

#receipt {
    text-align: center;
    padding-top: 10px;
}

#visualButton {
    background-color:#4d6fce;
	border-radius:28px;
	border:1px solid #4d6fce;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: Helvetica;
	font-size:14px;
	padding: 7px 32px;
	text-decoration:none;
    text-shadow:0px 1px 0px #2f6627;
    position: absolute;
    right: 0;
    margin-right: 200px;
    margin-top: 0px
}

#visualButton:hover {
	background-color:#86a6d4;
}


#suggestButton {
    background-color:#4d6fce;
	border-radius:28px;
	border:1px solid #4d6fce;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: Helvetica;
	font-size:14px;
	padding: 7px 32px;
	text-decoration:none;
    text-shadow:0px 1px 0px #2f6627;
    position: absolute;
    right: 0;
    margin-right: 30px;
}

#suggestButton:hover {
	background-color:#86a6d4;
}

#cameraInput {
    text-align: center;
}

#userInput {
    padding-top: 50px;
    font-family: Helvetica;
}

#submitdiv {
    padding-right: 70px;
}

#userdatadiv {
    padding-right: 70px;
}

#submit {
    background-color:#4dce78;
	border-radius:28px;
	border:1px solid #4dce78;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: Helvetica;
	font-size:14px;
	padding: 7px 32px;
	text-decoration:none;
}

#submit:hover {
	background-color:#86d486;
}

table.minimalistBlack {
    border: 3px solid #000000;
    width: 50%;
    text-align: left;
    border-collapse: collapse;
    font-family: Helvetica;
  }
  table.minimalistBlack td, table.minimalistBlack th {
    border: 1px solid #000000;
    padding: 5px 4px;
  }
  table.minimalistBlack tbody td {
    font-size: 13px;
  }
  table.minimalistBlack thead {
    background: #CFCFCF;
    background: -moz-linear-gradient(top, #dbdbdb 0%, #d3d3d3 66%, #CFCFCF 100%);
    background: -webkit-linear-gradient(top, #dbdbdb 0%, #d3d3d3 66%, #CFCFCF 100%);
    background: linear-gradient(to bottom, #dbdbdb 0%, #d3d3d3 66%, #CFCFCF 100%);
    border-bottom: 3px solid #000000;
  }
  table.minimalistBlack thead th {
    font-size: 15px;
    font-weight: bold;
    color: #000000;
    text-align: left;
  }
  table.minimalistBlack tfoot {
    font-size: 14px;
    font-weight: bold;
    color: #000000;
    border-top: 3px solid #000000;
  }
  table.minimalistBlack tfoot td {
    font-size: 14px;
  }

  #clearButton {
    background-color:#ce514d;
	border-radius:28px;
	border:1px solid #ce514d;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: Helvetica;
	font-size:14px;
	padding: 7px 32px;
	text-decoration:none;
  }

  #clearButton:hover {
	background-color:#ecafa4;
}

#enterForm, #clearForm {
    display: inline-block; /* or inline */
}

.form-popup {
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.7;
    position: absolute;
    top: 0;
    display: flex;
}

.modal {
    width: 300px;
    height: 100px;
    background-color: white;
    opacity: 1;
}

#historyForm {
    margin:0;
    padding:0;
    display:inline;
}

#pieBreakdown {
    position: fixed;
}

#pieBreakdownKey {
    /*container*/
    border-radius: 25px;
    background: #F0DCCA;
    padding-top: 20px;
    padding-left: 20px;
    width: 650px;
    height: 1000px;
    margin-right: 40px;
    margin-top: 40px;
    float: right;
    font-family: Arial;
    font-size: 17px;
    position: relative;
    
}

#groceries, #dining, #entertainment, #clothing, #transportation, #miscellaneous, #remaining{
    margin-left: 80px; 
    padding: 2px;
    font-family: Arial;
}

#groceriesColor {
    border-radius: 25px;
    background: #2F6690;
    width: 70px;
    height: 25px;
    margin-right: 40px;
    margin-top: 40px;
    float: right;
    font-family:Arial;
    font-size:17px;
    position: absolute;
    top: 40px;
    right: 540px;
}

#diningColor {
    border-radius: 25px;
    background: #DC602E;
    width: 70px;
    height: 25px;
    margin-right: 40px;
    margin-top: 40px;
    float: right;
    font-family:Arial;
    font-size:17px;
    position: absolute;
    top: 75px;
    right: 540px;
}

#entertainmentColor {
    border-radius: 25px;
    background: #D36060;
    width: 70px;
    height: 25px;
    margin-right: 40px;
    margin-top: 40px;
    float: right;
    font-family:Arial;
    font-size:17px;
    position: absolute;
    top: 120px;
    right: 540px;
}

#clothingColor {
    border-radius: 25px;
    background: #040403;
    width: 70px;
    height: 25px;
    margin-right: 40px;
    margin-top: 40px;
    float: right;
    font-family:Arial;
    font-size:17px;
    position: absolute;
    top: 160px;
    right: 540px;
}

#transportationColor {
    border-radius: 25px;
    background: #F7C03C;
    width: 70px;
    height: 25px;
    margin-right: 40px;
    margin-top: 40px;
    float: right;
    font-family:Arial;
    font-size:17px;
    position: absolute;
    top: 200px;
    right: 540px;
}

#miscellaneousColor {
    border-radius: 25px;
    background: #88D18A;
    width: 70px;
    height: 25px;
    margin-right: 40px;
    margin-top: 40px;
    float: right;
    font-family:Arial;
    font-size:17px;
    position: absolute;
    top: 240px;
    right: 540px;
}

#remainingColor {
    border-radius: 25px;
    background: #BC9CB0;
    width: 70px;
    height: 25px;
    margin-right: 40px;
    margin-top: 40px;
    float: right;
    font-family:Arial;
    font-size:17px;
    position: absolute;
    top: 280px;
    right: 540px;
}

#historyHeader{
    font-weight: bold;
}

#sugHeader{
   font-weight: bold;
}

#userData{
    border: 2;
}