<!DOCTYPE html>
<html lang="en">

<head>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/design.css') }}">
    <script type="text/javascript" src="https://unpkg.com/webcam-easy/dist/webcam-easy.min.js"></script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Reciept Tracker</title>
</head>

<body>
    <div>
        <a href = "/signedIn"> 
        <img id = "logo" src="/static/saving-money.svg" alt="cute coint logo image" height = 60 width = 60>
        </a>
        <a href="/history">
            <button type="button" id="visualButton">History</button>
         </a>
         <a href="/">
            <button type="button" id="suggestButton">Log Out</button>
         </a>

        
        
    </div>
    <div>
        <center>
        <img id = "logo" id = "receipt" src="/static/bill.svg" alt="cute coint logo image" height = 300 width = 300>
        </center>
    </div>

    <div id = "userInput">
    <center>
        
    </center>
    <script>
        function doSomethingWithFiles(image) {
            fetch("http://127.0.0.1:5000/processImage", {
            method: 'POST',
            body: image,
            }).then((response) => {
            console.log(response)
            })
        }
        console.log("Successfully Uploaded Photo")
        const fileInput = document.getElementById('file-input');
        fileInput.addEventListener('change', (e) => doSomethingWithFiles(e.target.files));
      </script>
    <div>  
    <center>
    <form method="POST" action="" enctype="multipart/form-data">
        <p><input type="file" name="file"></p>
        <p><input type="submit" value="Submit"></p>
        </form>
    </center>
</body>

</html>